h1{
    text-align: center;
}

body{
    background-color: lightgray;
}
button{
    border-color: black;
    background-color: white;
    color: black;
    height: 35px;
    width: 150px;
}

button:hover{
    text-decoration: none;
    border-color: white;
    background-color: black;
    color: white;   
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}